@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('//fonts.googleapis.com/earlyaccess/nanummyeongjo.css');


/* ✨Custom LUS class (Yes, that's me!) */
// I'll slap my nickname onto every class I use often on my posts.
blockquote.lus-warning {
    color: $custom-warning-color;
    border-color: $custom-warning-color;
    background-image:
        linear-gradient(to right,
            rgba(255, 169, 163, .2),
            rgba(167, 85, 194, .2),
            rgba(157, 209, 241, .2),
            rgba(0, 0, 0, 0));
    display: flex;

    &:before {
        font-weight: normal;
        content: "⚠️";
        margin-right: $spacing-unit * .3;
    }
}

p.lus-noticeable-p {
    text-align: center;
    padding: 5px 10px;
    width: fit-content;
    min-width: 10em;
    background-color: $code-background-color;
    border-radius: 5px;
    margin: 0 auto $spacing-unit;
}

div.lus-fitted-images-container {
    white-space: nowrap;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 15px;
    display: flex;

    div.lus-image {
        padding: 2px;
        vertical-align: middle;

        img {
            width: 100%;
            max-width: 100%;
            min-width: 0;
        }
    }
}

img.lus-darken {
    transition: filter 0.5s;
    transition-timing-function: ease-out;

    @if $color-scheme-auto {

        // none
        @media (prefers-color-scheme: dark) {
            filter: brightness(50%);

            &:hover {
                filter: brightness(90%);
            }
        }
    }

    @else if $color-scheme-dark {
        filter: brightness(50%);

        &:hover {
            filter: brightness(90%);
        }
    }

    @else {
        // none
    }
}


/* ✨Custom class */
div.mini-posts-container {
    // Thank you Mr. Web Designer on YouTube... for his Masonry layout tutorial.
    columns: 2 350px;
    column-gap: 5px;

    div.mini-post {
        padding: 35px 20px 20px;
        border-radius: 10px;
        border-top: 1px solid $border-color-02;
        box-shadow: 0 2px 4px 1px $custom-shadow-color inset,
            0 5px 15px $border-color-01 inset;
        margin-bottom: 5px;
        display: inline-block;
    }
}

::-webkit-scrollbar-track {
    background-color: $code-background-color;
}

::-webkit-scrollbar {
    width: 10px;

    &:hover {
        // 이거 외않돼냐고? 하...
        width: 15px;
    }
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(315deg,
            #a07ecd,
            $code-background-color 100%);
    border: 2px solid $code-background-color;
    border-radius: 3px;

    min-height: 50px;
}