@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url('//fonts.googleapis.com/earlyaccess/nanummyeongjo.css');


/* ✨Custom LUS (Yes, that's me!) */
// I'll slap my nickname onto every class I use often on my posts.
blockquote.lus-warning {
    color: $custom-warning-color;
    border-color: $custom-warning-color;
    background-image:
        linear-gradient(to right,
            rgba(255, 169, 163, .2),
            rgba(167, 85, 194, .2),
            rgba(157, 209, 241, .2),
            rgba(0, 0, 0, 0));
    display: flex;

    &:before {
        font-weight: normal;
        content: "⚠️";
        text-shadow: 0 0 3px;
        margin-right: $spacing-unit * .3;
    }
}

p.lus-noticable-p {
    text-align: center;
    padding: 5px 10px;
    width: fit-content;
    min-width: 10em;
    background-color: $custom-background-color;
    border-radius: 5px;
    margin: 0 auto $spacing-unit;
}

div.lus-fitted-images-container {
    // I stole it from stackoverflow
    white-space: nowrap;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 15px;
    display: table;

    div.lus-image {
        vertical-align: middle;
        padding: 2px;
        display: table-cell;

        img {
            width: 100%;
            max-width: 100%;
            min-width: 0;
        }
    }
}


/* ✨Custom layout */
img.post-thumbnail {
    display: inline;
    position: relative;
    top: 0%;
    z-index: 0;
}

// Chrome scroll bar
::-webkit-scrollbar-track {
    background-color: $custom-background-color;
}

::-webkit-scrollbar {
    width: 10px;

    &:hover {
        // 이거 외않되냐고? 하...
        width: 15px;
    }
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(315deg,
            #a07ecd,
            $custom-background-color 100%);
    border: 2px solid $custom-background-color;
    border-radius: 3px;

    min-height: 50px;
}